<section id="about" class="mt-5 py-5">
    <div class="container text-center w-90 mx-auto">
        <h2 class="main-text" 
            *ngIf="'about.aboutus' | translate as languageText" 
            appAddTextBeforeAfter [text]="languageText" [isVisible]="languageText.length > 0"
        >{{languageText}}</h2>
        <div class="container mt-3">
            <div class="p-3 rounded-4 shadow-sm bg-Gray"
                data-aos="fade-down" data-aos-duration="1000" data-aos-offset="270"
            >
                <p class="fw-lighter text-start lh-lg about-text">
                    {{'about.text' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>
