<section id="about" class="mt-5 py-5">
    <div class="conatainer text-center">
        <h2 class="main-text" 
                *ngIf="'about.aboutus' | translate as languageText" 
                appAddTextBeforeAfter [text]="languageText" [isVisible]="languageText.length > 0"
        >{{languageText}}</h2>
        <div class="container mt-5">
            <div class="p-5 rounded-4 shadow bg-Gray">
                <h4 class="fs-4 fw-lighter text-start lh-lg">
                    {{'about.text' | translate}}
                </h4>
            </div>
        </div>
    </div>
</section>