.bor01
{
    position: relative;
    width: 190px;
    height: 148px;
    border-radius: 4px;
    border: 2px solid #EEEEEE;
}
.bor01 svg
{
    position: relative;
    top: 50%;
    inset-inline-start: 15px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
.bor02
{
    position: absolute;
    width: 176px;
    height: 115px;
    border-radius: 4px;
    border: 2px solid #F79321;
    inset-inline-start: 80px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    transition: all 0.3s ease-in-out;
}
.bor02 h4
{
    transition: all 0.3s ease-in-out;
}
.bor:hover .bor02
{
    top: 50%;
    transform: translateY(-50%);
    width: 190px;
    height: 130px;
}
.bor:hover .bor02 h4
{
   font-size: 28px;
   font-weight: bolder;
}

@media (max-width: 768px) {
    .bor01
    {
        position: relative;
        width: 170px;
        height: 148px;
    }
    .bor02
    {
        width: 146px;
        height: 115px;
    }       
}
