.bor01
{
    position: relative;
    width: 190px;
    height: 148px;
    border-radius: 4px;
    border: 2px solid #EEEEEE;
}
.bor01 svg
{
    position: relative;
    top: 50%;
    inset-inline-start: 15px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}
.bor02
{
    position: relative;
    width: 176px;
    height: 115px;
    border-radius: 4px;
    border: 2px solid #F79321;
    inset-inline-start: 80px;
    transform: translateY(-133px);
    background-color: white;
    transition: transform 0.3s ease-in-out;
    transform-origin: top left;
}

.bor:hover .bor02
{
    transform: scale(1.1) translateY(-133px);
}

@media (max-width: 768px) {
    .bor01
    {
        position: relative;
        width: 170px;
        height: 148px;
    }
    .bor02
    {
        width: 146px;
        height: 115px;
    }       
}
