<section id="vision" class="mt-5 py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-6 mx-md-auto text-center"
            #dataAosElement data-aos="fade-down" data-aos-duration="1200" data-aos-offset="350"
            
            >
                <h2 class="main-text" 
                    *ngIf="'vision.vision' | translate as languageText" 
                    appAddTextBeforeAfter [text]="languageText" [isVisible]="languageText.length > 0"
                    >{{languageText}}
                </h2>
                <p class="vision-text mx-auto ms-lg-auto ms-xl-auto text-center text-lg-start text-xl-start fw-lighter lh-lg w-75">
                    {{'vision.text' | translate}}
                </p>
            </div>
            <div class="col-md-12 col-lg-6 mt-3">
                <img src="/images/vision.png" class="w-100 rounded-4 border-4 border-black" 
                data-aos="fade-up" data-aos-duration="1200" data-aos-offset="350"
                />
            </div>
        </div>
    </div>
</section>