<section id="galary" class="mt-5 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-around align-items-center">
                <div class="text-center">
                    <h2 class="fw-bolder">{{'galary.galary01' | translate}}</h2>
                    <h2 class="fw-bolder">{{'galary.galary02' | translate}}</h2>
                </div>
                <svg width="3" height="400" viewBox="0 0 3 400" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="1.5" y1="1" x2="1.49998" y2="399" stroke="#F79321" stroke-width="2" stroke-linecap="round" stroke-dasharray="23 23"/>
                </svg>    
            </div>
            <div class="col-md-6">
                <div class="slider rounded-4">
                    <app-slider/>
                </div>
            </div>
        </div>
    </div>
</section>