<section id="mission" class="mt-5 py-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-6 order-lg-2 order-xl-2 mx-md-auto text-center"
            data-aos="fade-up" data-aos-duration="1200" data-aos-offset="350"
            >
                <h2 class="main-text" 
                    *ngIf="'mission.mission' | translate as languageText" 
                    appAddTextBeforeAfter [text]="languageText" [isVisible]="languageText.length > 0"
                    >{{languageText}}
                </h2>
                <p class="mission-text mx-auto ms-lg-auto ms-xl-auto text-center text-lg-start text-xl-start fw-lighter lh-lg w-75">
                    {{'mission.text' | translate}}
                </p>
            </div>
            <div class="col-md-12 col-lg-6 mt-3 order-lg-1 order-xl-1">
                <img src="/images/mission.png" class="w-100 rounded-4 border-4 border-black"
                data-aos="fade-down" data-aos-duration="1200" data-aos-offset="330"
                />
            </div>
        </div>
    </div>
</section>