
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/Alexandria-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    scroll-behavior: smooth !important;
} 
body {
    font-family: 'CustomFont', sans-serif !important;
}
a
{
  text-decoration: none !important;
}
//global var
$primary-bg-color: #F79321;
$Second-bg-color: #1A1A1A;
$Gray-color: #737171;
$Text-color: #333333;
$Gray-Bg : #F7F7F7;

//global class
.bg-main-gradient{
    background: linear-gradient(to right,#7047a1, #47c7c7) !important;   
}
.bg-main-gradient-rev{
    background: linear-gradient(to left,#7047a1, #47c7c7) !important;   
}
.btn-gradient,.btn-white{
    background: $primary-bg-color !important;
    border: 1px solid $primary-bg-color !important;
    color: white !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    border-radius: 100px !important;
    cursor: pointer !important;
    transition: all 1s ease-in-out;
    position: relative;
    overflow: hidden;
}
.btn-gradient::before
{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -100%;
  top: 0;
  transform: translateY(0);
  white-space: nowrap;
  color: $primary-bg-color;
  font-size: 16px;
  transition: all 0.8s ease;
  background-color: white;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.btn-gradient span {
    display: inline-block;
  transition: transform 0.8s ease; /* تعديل المدة لـ 0.8s لتكون مماثلة للحركة */
  color: white !important;
  }
  
  .btn-gradient:hover {
    border: 1px solid $primary-bg-color !important;
  color: $primary-bg-color !important;
  }
  
  .btn-gradient:hover span {
    transform: translateY(120%); /* النص الأصلي ينزل للأسفل */
  }
  
  .btn-gradient:hover::before {
    left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }
.btn-gradient span {
    transition: transform 0.8s ease; /* نفس الانتقال المستخدم في التحرك للأسفل */
}
.bg-Gray
{
  background-color: $Gray-Bg !important;
}
.bg-Second
{
  background-color: $Second-bg-color !important;
}
.btn-white
{
    background: white !important;
    color: $primary-bg-color !important;
}
.btn-white:hover
{
    background-color: $primary-bg-color !important;
    color: white !important;
}
.bg-main
{
background-color: $primary-bg-color !important;
}
.bg-second
{
background-color: $Second-bg-color !important;
}
.text-main
{
color: $primary-bg-color !important;
transition: all 0.3s ease-in-out;
}
.text-main:hover
{
    transform: scale(1.2);
    color: #ffbb6d !important;
}
.text-second
{
color: $Second-bg-color !important;
}
.w-90{
    width: 90% !important;
}


/* التحكم في عرض وارتفاع شريط التمرير */
::-webkit-scrollbar {
    width: 13px; /* عرض شريط التمرير الرأسي */
    height: 29px; /* ارتفاع شريط التمرير الأفقي */
  }
  
  /* تخصيص مقبض شريط التمرير */
  ::-webkit-scrollbar-thumb {
    background-color: $primary-bg-color; /* لون المقبض */
    border-radius: 4px; /* جعل الأطراف دائرية */
  }
  
  /* إضافة حدود لمقبض شريط التمرير */
  ::-webkit-scrollbar-thumb:hover {
    background-color: $Second-bg-color; /* لون المقبض عند التحويم */
  }
  
  /* تخصيص المسار الخلفي لشريط التمرير */
  ::-webkit-scrollbar-track {
    background-color: #ecf0f1; /* لون الخلفية للمسار */
  }

  [appAddTextBeforeAfter]::before {
    content: attr(data-text-before);
  }


  .main-text {
    text-align: center;
    width: 227px;
    position: relative;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
  
  /* استخدام ::after لإنشاء النص الخلفي */
  .main-text::before {
    position: absolute;
    top: -70px;
    inset-inline-end: 20%;
    font-size: 64px;
    font-weight: bold;
    color: transparent; /* لجعل النص الداخلي فارغًا */
    -webkit-text-stroke: 0.1px rgba(255, 165, 0, 0.2); 
    z-index: 1;    
    width: 250px;
  }
  .main-text::after
  {
    content: url('data:image/svg+xml,%3Csvg%20width%3D%2259%22%20height%3D%225%22%20viewBox%3D%220%200%2059%205%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M2.5%202.5H56.5%22%20stroke%3D%22%23F79321%22%20stroke-width%3D%224%22%20stroke-linecap%3D%22round%22%20stroke-dasharray%3D%2212%2012%22/%3E%3C/svg%3E');
    position: absolute;
    top: 0%;
    inset-inline-start: -20%;
}

/* تنسيق النص الرئيسي */
[data-aos] {
  opacity: 0; /* إخفاء العنصر */
  transition: opacity 0.4s; /* إضافة انتقال سلس */
}

[data-aos].aos-animate {
  opacity: 1; /* إظهار العنصر عند وجود التأثير */
}
